= render 'styleguide/partials/shared'

%p
  The template:
  %br
  %code
    molecules/colours
  %br


%p
  can be accessed with the component ui function:  
  %br
  %code
    &#61; eu_component('molecules/colours')

%p
  or the api endpoint:
  %br
  %a{ href: '/europeana/molecules/_colours' }
    here

%p
  It outputs all the style-guide colours:

  %ul.sg-colors
    -#= eu_component('molecules/colours')
    = eu_component('molecules/colours',   {"colours": {"brand-colours":{"jade-green": {"background": "#37B98B", "label": "Celtic-Green"}  }}}  )

  

