= render 'styleguide/partials/shared'

%p
  The template:
  %br
  %code
    _atoms/colour
  %br


%p
  can be accessed with the component eu function:  
  %br
  %code
    &#61; eu_component('atoms/colour', properties: { title: 'colour label', background: '#FF3399'})

%p
  or the api endpoint:
  %br
  %a{ href: '/europeana/atoms/_colour?properties={"label":"pink", "background":"%23FF3399"}' }
    here

%p
  It outputs a single colour:

  %ul.sg-colors
    = eu_component('atoms/colour', properties:{"label": "magenta", "background": "#FF3399"} )

    -# = eu_component('atoms/colour', {"colours": {"brand-colours":{"jade-green": {"background": "#37B98B", "label": "Celtic-Green"}  }}}  )


%p

  and doesn't crash when the properties param is ommitted:

  %ul.sg-colors
    = eu_component('atoms/colour')


