= render 'styleguide/partials/shared'

%p
  The template:
  %br
  %code
    _atoms/colour
  %br


%p
  can be accessed with the component ui function:  
  %br
  %code
    &#61; ui_component('atoms/colour', properties: { title: 'colour label', background: '#FF3399'})

%p
  or the api endpoint:
  %br
  %a{ href: '/europeana/atoms/_colour?properties={"title":"pink", "background":"%23FF3399"}' }
    here

%p
  It outputs a single colour:

  %ul.sg-colors
    = ui_component('atoms/colour', properties: { title: 'colour label', background: '#FF3399'})


