= render 'styleguide/partials/shared'

%p
  Isotopes:

%p
  variations on basic atoms that are still too simple to be called molecules.
%p
  This page was included because:
  
%ul{style: "margin-left: 1em; list-style:inside;"}
  %li
    I like the name 'isotopes' and wanted to use it
  %li
    I wanted to keep a working example of sub-menus in the tertiary navigation
    
    
