= render 'styleguide/partials/shared'

%p
  The template:
  %br
  %code
    atoms/thumbnail
  %br


%p
  can be accessed with the component ui function:  
  %br
  %code
    &#61; ui_component('atoms/thumbnail', properties: { title: 'colour label', background: '#FF3399'})

%p
  or the api endpoint:
  %br
  %a{ onclick: 'alert("this is still TODO");' }
    here

%p
  It outputs a single thumbnail:
  %br
  %br
  [TODO: copy this stuff over from pattern lab]

